<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/js/weather-interface.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    
    
</head>
<body>
    <main>
        <nav>
            <div class="nav-wrapper">
                <span class="title">@Html.ActionLink("Weather Now", "Index", "Home")</span>
                <ul id="nav-mobile" class="right hide-on-med-and-down">

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink(User.Identity.Name, "Index", "Account")</li>
                        <li>
                            @using (Html.BeginForm("LogOff", "Account"))
                            {
                                <input type="submit" id="logout" value="Logout" class="waves-effect waves-light btn" />

                            }
                        </li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Register", "Register", "Account")</li>
                        <li>@Html.ActionLink("Login", "Login", "Account")</li>
                    }
                </ul>
            </div>
        </nav>
        <div class="container">
            @RenderBody()
        </div>
    </main>
</body>
</html>
